/*!
 / Copyright (c) 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 / Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
 / Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
 / Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
 / Vestibulum commodo. Ut rhoncus gravida arcu.
 /
@import "~@linda/ui/frontend/variables"


.list
  background: $light-gray4
  li
    color: $dark-gray3
    padding: 10px
    &.with-link
      padding: 0
      a
        height: 100%
        width: 100%
        padding: 10px
        display: flex
        justify-content: flex-start
        align-items: center
        &>*:not(:last-child)
          margin-right: 10px

    display: flex
    justify-content: flex-start
    align-items: center
    &>*:not(:last-child)
      margin-right: 10px
    &.button
      cursor: pointer
      &:hover
        background: $light-gray2
