/*!
 / Copyright (c) 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 / Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
 / Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
 / Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
 / Vestibulum commodo. Ut rhoncus gravida arcu.
 /
@import "~@linda/ui/frontend/variables"


.item
  display: flex
  color: $light-gray5
  flex-direction: column
  align-items: center
  padding: 10px
  cursor: pointer
  &:hover
    background: $dark-gray3
  &>*:first-child
    margin-bottom: 5px
