/*!
 / Copyright (c) 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 / Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
 / Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
 / Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
 / Vestibulum commodo. Ut rhoncus gravida arcu.
 /
@import "~@linda/ui/frontend/variables"
.sidebar
  grid-row: 1/3
  grid-column: 1
  background-color: $dark-gray5

.drawer
  padding: 10px

.drawer-paths
  display: grid
  grid-template-columns: repeat(2,1fr)
