@import "~@blueprintjs/core/src/common/colors";

$primary3: #1FAC65;
$primary2: #21B86C;
$primary1: #6BCF2C;
$warning3: #D98213;
$warning2: #E68B15;
$warning1: #F29316;

$pt-intent-primary: $primary3;
$pt-intent-warning: $warning3;
$pt-outline-color: rgba($primary3, 0.6);
$pt-link-color: $primary3;


$pt-intent-colors: (
        "primary": $primary3,
        "success": $green3,
        "warning": $warning3,
        "danger" : $pt-intent-danger,
);

$pt-intent-text-colors: (
        "primary": $primary2,
        "success": $green2,
        "warning": $warning2,
        "danger" : $red2,
);

$button-intents: (
        "primary": ($pt-intent-primary, $primary2, $primary1),
        "success": ($pt-intent-success, $green2, $green1),
        "warning": ($pt-intent-warning, $warning2, $warning1),
        "danger": ($pt-intent-danger, $red2, $red1)
) !default;

@import "~@blueprintjs/core/src/blueprint";
