/*!
 * Copyright (c) 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 * Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
 * Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
 * Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
 * Vestibulum commodo. Ut rhoncus gravida arcu.
 */

@import "~@blueprintjs/core/src/common/colors";
@import "~@blueprintjs/icons/src/icons";
@import "ui/actions";


$primary1: $blue2;
$primary2: $blue3;
$primary3: $blue4;
$primary4: $blue5;

$pt-intent-primary: $primary3;
$pt-outline-color: rgba($primary3, 0.6);
$pt-link-color: $primary3;


$pt-intent-colors: (
        "primary": $primary3,
        "success": $pt-intent-success,
        "warning": $pt-intent-warning,
        "danger" : $pt-intent-danger,
);

$pt-intent-text-colors: (
        "primary": $primary2,
        "success": $green2,
        "warning": $orange2,
        "danger" : $red2,
);

$button-intents: (
        "primary": ($pt-intent-primary, $primary2, $primary1),
        "success": ($pt-intent-success, $green2, $green1),
        "warning": ($pt-intent-warning, $orange2, $orange1),
        "danger": ($pt-intent-danger, $red2, $red1)
) !default;

:root {
  --primary-color: #{$pt-intent-primary};
  --primary-color-dark: #{$primary2};
  --primary-color-light: #{$primary4};
  --warning-color: #{$pt-intent-warning};
  --violet-color: #{$violet4};
  --light-gray-color: #{$gray5};
  --gray-color: #{$gray3};
  --pr-cl: var(--primary-color);
  --pr-cl-d: var(--primary-color-dark);
  --pr-cl-l: var(--primary-color-light);
}

.cl-primary {
  color: $pt-intent-primary;
}
.bg-primary {
  color: $pt-intent-primary;
}


@import "~@blueprintjs/core/src/blueprint";

.#{$ns}-button.mini {
  padding: 1px 2px;
  min-height: 14px;
  min-width: 14px;
  & svg {
    height: 12px;
    width: 12px;
  }
}
