/*!
 / Copyright (c) 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 / Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
 / Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
 / Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
 / Vestibulum commodo. Ut rhoncus gravida arcu.
 /
@import "~@linda/ui/frontend/variables"

$string-cl: $green3
$number-cl: $red3
$boolean-cl: $orange3
$array-cl: $blue3
$object-cl: $violet3
$relation-cl: $turquoise3
$date-cl: $sepia3
$object-id-cl: $gold3
$file-cl: $sepia3

.document-name
  margin-bottom: 10px

.property-list
  &>*:nth-child(odd)
    background: $light-gray5
  &>*:nth-child(even)
    background: $white

.property-row
  height: 30px
  display: grid
  grid-template-columns: .05fr .25fr .4fr .3fr
  &>div
    display: flex
    justify-content: flex-start
    align-items: center
    padding: 4px 15px
    &:last-child
      justify-content: flex-end

.property-button
  &.string
    color: $string-cl !important
  &.number
    color: $number-cl !important
  &.boolean
    color: $boolean-cl !important
  &.array
    color: $array-cl !important
  &.object
    color: $object-cl !important
  &.relation
    color: $relation-cl !important
  &.date
    color: $date-cl !important
  &.object-id
    color: $object-id-cl !important
  &.file
    color: $file-cl !important
  &:hover
    &.string
      background: rgba($string-cl, .3)
    &.number
      background: rgba($number-cl, .3)
    &.boolean
      background: rgba($boolean-cl, .3)
    &.array
      background: rgba($array-cl, .3)
    &.object
      background: rgba($object-cl, .3)
    &.relation
      background: rgba($relation-cl, .3)
    &.date
      background: rgba($date-cl, .3)
    &.object-id
      background: rgba($object-id-cl, .3)
    &.file
      background: rgba($file-cl, .3)

.property-buttons-list
  display: flex
  padding: 5px
  justify-content: space-around

