/*!
 * Copyright (c) 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 * Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
 * Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
 * Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
 * Vestibulum commodo. Ut rhoncus gravida arcu.
 */
@import "~@linda/ui/frontend/variables";

$header-height: 60px;
$sidebar-width: 90px;

:root {
  --admin-background-image: '';
  --admin-content-opacity: 0;
}

.admin {
  display: flex;
  height: 100vh;
  .left-side {
    flex: 0 1 $sidebar-width;
    background-color: $dark-gray5;
  }

  .right-side {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--admin-background-image);
    background-position: center;
    background-size: cover;
    .header {
      position: absolute;
      top: 0;
      left: 0;
      height: $header-height;
      padding: 0 10px;
      width: 100%;
      &--fixed {
        position: fixed;
      }
    }
    .content {
      padding-top: $header-height;
      &>* {
        margin: 10px;
        border-radius: 5px;
        padding: 10px;
      }
      flex: 1 1 auto;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
