/*!
 / Copyright (c) 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 / Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
 / Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
 / Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
 / Vestibulum commodo. Ut rhoncus gravida arcu.
 /
@import "~@linda/ui/frontend/variables"


.cols
  display: flex
  flex-direction: row
  &>div:not(:last-child)
    margin-right: 5px

.col
  border: 1px solid $light-gray3
  background-color: $light-gray4
  color: $gray1
  border-radius: 3px
  display: flex
  align-items: stretch
  justify-content: space-between
  min-width: 80px
  &>div
    display: flex
    align-items: center
    height: 100%
    padding: 3px
    &:last-child
      border-left: 1px solid $light-gray3
      background-color: $light-gray3
    &:first-child
      cursor: move
      border-right: 1px solid $light-gray3


