/*!
 / Copyright (c) 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 / Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
 / Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
 / Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
 / Vestibulum commodo. Ut rhoncus gravida arcu.
 /
@import "~@blueprintjs/core/lib/scss/variables"

@mixin shadow-xs
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05)

@mixin shadow-sm
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)

@mixin shadow
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)
