/*!
 / Copyright (c) 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 / Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
 / Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
 / Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
 / Vestibulum commodo. Ut rhoncus gravida arcu.
 /
.page
  display: flex
  flex-direction: column
  .content--two-cols
    display: grid
    grid-template-columns: .2fr .8fr
    grid-column-gap: 10px

.title
  margin: 15px 0
  display: flex
  flex-direction: row
  align-items: center
  .buttons
    margin-left: auto
    &>*:not(:last-child)
      margin-right: 10px
  button
    margin-right: 10px
