/*!
 / Copyright (c) 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 / Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
 / Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
 / Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
 / Vestibulum commodo. Ut rhoncus gravida arcu.
 /
.tab
  .tab-name
    display: flex
    font-size: 1rem
    flex-direction: row
    justify-content: space-between
    align-items: center
    font-weight: bold
    padding: 5px 20px
    cursor: pointer
  .tab-content
    padding: 0 10px

.no-padding
  padding: 0
